
    <div class="container">
        <header>
            <h1>Download</h1>
        </header>
        <main>
            <p><span class="highlight-note">Note:</span> Click on <img src='/app/assets/down.png' alt="Download Icon" class="download-icon"> to download</p><br>
            <p>The Arabidopsis Book (Acyl-Lipid Metabolism Chapter)
                <img src="/app/assets/down.png" alt="Download Icon"class="download-icon" (click)="downloadFile('tab_article.pdf')">
                
            </p>
        
            <p>A list of Arabidopsis proteins, enzymes, and loci involved in lipid metabolism with abbreviations, mutants, pathways, EC numbers, subcellular location, evidence for function, key references, and comments.
                <img src='/app/assets/down.png' alt="Download Icon"class="download-icon" (click)="downloadFile('aralip_data.xlsx')">
            </p>
        
            <p>Expression of Acyl-Lipid Related Genes During Arabidopsis Seed Development. (Adapted from: Bates PD, et al. 2014. Fatty acid synthesis is inhibited by inefficient utilization of unusual fatty acids for glycerolipid assembly.)
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/24398521" target="_blank">Proc Natl Acad Sci.</a>
                <img src='/app/assets/down.png' alt="Download Icon"class="download-icon"  (click)="downloadFile('Developing_At_seed_RNAseq_ARALIP_genes_Jan2014.xlsx')">
            </p>
        
            <p>EST expression (ESTs/100,000 ESTs) of developing oil seeds, based on pyrosequencing. Adapted from: Troncoso-Ponce MA, Kilaru A, et al (2011) Comparative transcriptional profiling of four oilseeds.
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/21851431" target="_blank">Plant Journal.</a>
                <img src='/app/assets/down.png'alt="Download Icon" class="download-icon"  (click)="downloadFile('loci_expression_in_oilseeds.xlsx')">
            </p>
        
            <p>Expression of acyl-lipid related genes during natural leaf senescence. (Adapted from: Troncoso-Ponce MA, et al 2013.)
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/23498858" target="_blank">Plant Sci.</a>
                <img src='/app/assets/down.png' alt="Download Icon" class="download-icon" (click)="downloadFile('LipidGeneExpressionSenescenceDuringSenescence.xls')">
            </p>
        
            <p>List of lipases and putative lipases expressed during natural leaf senescence. (Adapted from: Troncoso-Ponce MA, et al 2013.)
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/23498858" target="_blank">Plant Sci.</a>
                <img src='/app/assets/down.png' alt="Download Icon" class="download-icon"(click)="downloadFile('Lipases-PutativeLipases.xlsx')">
            </p>
        
            <p>An Annotated Database of Arabidopsis Mutants of Acyl Lipid Metabolism. (2015)<span class="'citation"> Kathleen McGlew, Vincent Shaw, Meng Zhang, Ryeo Jin Kim, Weili Yang, Basil Shorrosh, Mi Chung Suh, John Ohlrogge.</span> From: Plant Cell Reports special edition on "Plant Lipid Biology and Biotechnology".
                <img src='/app/assets/down.png' alt="Download Icon"class="download-icon" (click)="downloadFile('ARALIPmutantDB.xlsx')">
            </p>
        </main>
    </div>