
<div>
    <div class="header">
        Latest News 
    </div>
    <div style="margin: 2%;">
        <div class="box">
            <h5 class="subtitle">Fatplants V2.0 release, 2024-08</h5>
            <ul>
                <li>
                    Total New User Experience: We have completely revamped the user interface to provide a more intuitive and streamlined experience for all users, and devices.
                </li>
                <li>
                    Imported Cuphea and Pennycress Data: The latest data for Cuphea and Pennycress has been imported, expanding our database, and providing richer information for analysis.
                </li>
                <li>
                    Brand-new Arabidopsis Go Networks: We have implemented a network framework to improve the experience for all users.
                </li>
                <li>
                    User Counter: A new user counter feature has been added, allowing us to track and analyze user engagement more effectively.
                </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">
                Fatplants is presented in International Symposium on Plant Lipids, 2024-07</h5>
            <ul>
                <li>
                    We presented poster: FatPlants: A Comprehensive Website Platform of Plant Fat Related Genes, Proteins and Metabolism
                </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">"FatPlants" manuscript accepted for publication, 2024-05</h5>
            <ul>
                <li>
                    Manuscript <a href="https://academic.oup.com/database/article/doi/10.1093/database/baae074/7727795?searchresult=1">"FatPlants: a comprehensive information system for lipid-related genes and metabolic pathways in plants"</a> 
                    has been accepted for publication by Database: The Journal of Biological Databases and Curation. 
                </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">
                Fatplants is presented in Gordon Research Conference on Plant Lipids: Structure, Metabolism and Function, 2023-01</h5>
            <ul>
                <li>
                    We presented poster: FatPlants: A Comprehensive Website Platform of Plant Fat Related Genes, Proteins and Metabolism
                </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">Fatplants V1.1 release, 2020-12</h5>
            <ul>
                <li>
                    New Pathway Images Added: we have significantly enhanced the Pathway Viewer page by adding a 
                    collection of pathway images that we have recognized and extracted from the literature 
                    using our proprietary machine learning tools. These images provide detailed visualizations of 
                    metabolic and biochemical pathways, offering users a deeper understanding of complex processes.
                </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">Fatplants V1.0 release, 2019-08</h5>
            <ul>
            <li>The new version of Fatplants using Angular has been successfully deployed and is now live. 
            This version brings enhanced performance, improved user experience, and new features, 
            all powered by the robust Angular framework. </li>
            </ul>
        </div>
        <div class="box">
            <h5 class="subtitle">Fatplants prototype release, 2019-02</h5>
            <ul>
                <li>
                    Fatplants is a web service with analysis and visualization tools for plant fat-related genes, 
                    proteins and metabolism. It empowers researchers to develop and test hypotheses, 
                    and design crops with value-added compositions. In particular, collating data in Fatplants 
                    on oilseed engineering through can accelerate the process of knowledge discovery and crop 
                    design for biology researchers with little computer skills. 
                </li>
            </ul>
        </div> 
        <div class="box">
            <h5 class="subtitle">Fatplants is presented in PAG, 2019-01</h5>
            <ul>
                <li>
            Fatplants was presented at the Plant and Animal Genome (PAG) Conference 2019. 
            The presentation highlighted the analysis and visualization tools for plant fat-related genes, 
            proteins and metabolism. The conference provided an excellent opportunity to engage with the 
            scientific community, gather feedback, and explore potential collaborations.
            </li>
        </ul>
        </div>
        <!-- <div class="box">
            <h5 class="subtitle">Patent approval for commercialization of C3007 trait in Camelina 2018-07</h5>
            <ul>
                <li>
                    <a href="https://yield10bioscienceinc.gcs-web.com/news-releases/news-release-details/yield10-bioscience-obtains-positive-response-usda-aphis">
                        Commercialization of C3007 Trait in Camelina.</a>
                    Yield10 signed an exclusive worldwide license with the University of Missouri covering two novel 
                    gene technologies to boost oil content in oilseed crops including Camelina, canola and soybean. 
                </li>
            </ul>
        </div>  -->
    </div>
  </div>