<div class="page-title-bar">
  <p class="page-title"> Meet Our Investigators </p>
</div>
<div class="container-fluid">
  <div class="row row-white row-cols-4">
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl2" alt="DA" />
        <div class="profile">
          <div class="info">
            <strong>Douglas Allen</strong>
            <a href="mailto:Doug.allen@ars.usda.gov">Doug.allen@ars.usda.gov</a>
            <div>Danforth Center USDA-ARS</div>
          </div>
          <div class="information">
            Dr. Allen is a USDA-ARS Research Scientist and Principal Investigator at the Donald Danforth Plant Science
            Center.
            His research focuses on quantitative descriptions of central carbon metabolism in plants that includes
            photosynthetic carbon assimilation and partitioning into important storage reserves such as protein and oil.
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl5" alt="PB" />
        <div class="profile">
          <div class="info">
            <strong>Phillip Bates</strong>
            <a href="mailto:phil_bates@wsu.edu">phil_bates@wsu.edu</a>
            <div>Washington State University</div>
          </div>
          <div class="information">
            Dr. Philip Bates is an Assistant Professor in the Institute of Biological Chemistry at Washington State
            University.
            His research focuses on characterizing the biochemical pathways of plant lipid synthesis including the
            mechanisms
            that control seed oil accumulation and oil composition for use in food, biofuels, or the chemical industry.
            More information can be found at: <a
              href="https://ibc.wsu.edu/philip-bates/">https://ibc.wsu.edu/philip-bates/</a>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl9" alt="EC" />
        <div class="profile">
          <div class="info">
            <strong>Edgar Cahoon</strong>
            <a href="mailto:phil_bates@wsu.edu">ecahoon2@unl.edu</a>
            <div>University of Nebraska - Lincoln</div>
          </div>
          <div class="information">
            Dr. Cahoon is Professor and the director of Center for Plant Science Innovation, also the George W. Holmes
            University Professor in Department of Biochemistry. His research is focusing on basic and applied research
            on plant lipid metabolism. The goals of his research are to enhance the nutritional and industrial value of
            crop plants and to probe the synthesis and function of bioactive lipids for nutritional biofortification and
            improved agronomic performance of crops. More about his lab can be found at: <a
              href="https://www.unl.edu/cahoonlab/welcome">https://www.unl.edu/cahoonlab/welcome</a>

          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl10" alt="TJ" />
        <div class="profile">
          <div class="info">
            <strong>Trupti Joshi</strong>
            <a href="mailto:joshitr@health.missouri.edu">joshitr@health.missouri.edu</a>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Dr. Joshi is an Associate Professor in the Department of Biomedical Informatics, Biostatistics and Medical
            Epidemiology, with appointments in the Christopher S. Bond Life Sciences Center, Department of Plant Science
            and Technology, and Institute for Data Science and Informatics at the University of Missouri. Her research
            is in the areas of bioinformatics and its application to plants sciences, animal sciences, biomedical
            sciences and health informatics fields.
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl1" alt="AK" />
        <div class="profile">
          <div class="info">
            <strong>Abe Koo</strong>
            <a href="mailto:kooaj@missouri.edu">kooaj@missouri.edu</a>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Dr. Koo is Associate Professor of Biochemistry Department at the University of Missouri.
            Main areas of his research are plant defense against insects, phytohormone jasmonate metabolism and
            signaling,
            and metabolic engineering of plants to increase oil production.
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl4" alt="JT" />
        <div class="profile">
          <div class="info">
            <strong>Jay Thelen</strong>
            <a href="mailto:thelenj@missouri.edu">thelenj@missouri.edu</a>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Dr. Thelen is a Professor of Biochemistry at the Bond Life Sciences Center of the University of Missouri.
            He employs analytical approaches to quantitatively study protein and metabolic regulation in model and crop
            seeds.
            His research interests include metabolic regulation, seed development, plant biochemistry, and analytical
            proteomics.
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl3" alt="DX" />
        <div class="profile">
          <div class="info">
            <strong>Dong Xu</strong>
            <a href="mailto:xudong@missouri.edu">xudong@missouri.edu</a>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Dr. Xu is a Professor in Department of Electrical Engineering and Computer Science, with appointments in the
            Christopher S. Bond Life Sciences Center and Institute for Data Science and Informatics at the University of
            Missouri. His research is in computational biology and bioinformatics, including deep-learning application
            in bioinformatics, protein structure prediction and analysis, single-cell data analyses, and biological
            information systems.
            More information can be found at <a href="http://digbio.missouri.edu/">http://digbio.missouri.edu/</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="page-title-bar">
    <p class="page-title"> Meet Our Developers </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row row-white row-cols-4">
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl12" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Congyu Guo</strong>
            <a href="mailto:cgkdb@mail.missouri.edu">cgkdb@mail.missouri.edu</a>
            <strong><i>Full-Stack Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Congyu Guo is an intern software developer at Digital Biology Lab. He graduated from the University of
            Missouri with a Master of Science degree and a Graduate Certificate in AI & Machine Learning. He is
            working on both the frontend and the backend of FatPlants. </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl13" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Govardhan Khadakkar</strong>
            <a href="mailto:gk94c@missouri.edu">gk94c@missouri.edu</a>
            <strong><i>Backend Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Govardhan is a Master's student in Computer Science at the University of Missouri-Columbia, contributing to
            the backend development of the FatPlants web application. His work includes optimizing database queries,
            implementing API endpoints, and managing deployments to ensure a scalable and reliable infrastructure. He
            enjoys tackling complex challenges, loves exploring emerging technologies, and is dedicated to continuous
            growth in the field of computer science. </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl16" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Venkat Pavan Poolla</strong>
            <a href="mailto:vpk6f@missouri.edu">vpk6f@missouri.edu</a>
            <strong><i>Frontend Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Venkat Pavan Poolla is a master's candidate in Computer Science at the University of Missouri-Columbia. He
            has two years of professional experience in front-end development, specializing in React.js. His research
            work at the university is focused on front-end development using Angular. </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl15" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Yongfang Qin</strong>
            <a href="mailto:yqzn9@missouri.edu">yqzn9@missouri.edu</a>
            <strong><i>Team Leader</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Yongfang is a PhD student in Computer Science at the University of Missouri-Columbia. As a team leader, she
            has extensive experience in project management, facilitating collaboration, driving innovation, and ensuring
            successful delivery of high-quality projects. She is also a skilled full-stack developer who is proficient
            in both front-end and back-end technologies and is good at building powerful, scalable applications.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl14" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Basheer Abbas Shaik</strong>
            <a href="mailto:bsrcb@missouri.edu">bsrcb@missouri.edu</a>
            <strong><i>Full-Stack Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Basheer Abbas Shaik is a Graduate Research Assistant and Full Stack Developer pursuing a master's in
            Computer Science. He has contributed to developing the frontend for Fatplants and implemented new features.
            His research focus is on web applications and expertise in Angular, React, Node.js, Python. </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img class="image" [src]="ppl11" alt="profile" />
        <div class="profile">
          <div class="info">
            <strong>Chunhui Xu</strong>
            <a href="mailto:cx9p9@mail.missouri.edu">cx9p9@mail.missouri.edu</a>
            <strong><i>Ph.D. student, Project Manager and Data Analyst</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
          <div class="information">
            Chunhui Xu is a Ph.D. student at the MU Institute for Data Science and Informatics (MUIDSI).
            He works as a research assistant for Professor Dong Xu studying deep learning methods to predict
            bioinformatics
            topics,
            including PTM predictions and sequence prediction.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-title-bar">
  <p class="page-title">Acknowledgements to Former Developers</p>
</div>

<div class="container-fluid">
  <div class="row row-white row-cols-4">
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Chengzi Cao</strong>
            <strong><i>UI Designer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Harshavardhan Chintapatla</strong>
            <strong><i>UI Designer and Frontend Developer </i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Sai Akhil Chopparapu</strong>
            <strong><i>Backend Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Ganesh Devanaka</strong>
            <strong><i>UI Designer and Frontend Developer </i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Shaik Naveed Farooq</strong>
            <strong><i>Frontend Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Vamsi Krishna Reddy Guntaka </strong>
            <strong><i>Frontend Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Ye Han</strong>
            <strong><i>Data Analyst</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Matt Hudson</strong>
            <strong><i>Front End and Firebase developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Yiwei Lu</strong>
            <strong><i>Backend Developer and Firebase Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Sravanthi Mannava</strong>
            <strong><i>Full Stack Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Jonah Marz</strong>
            <strong><i>Website Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Joshua Thompson</strong>
            <strong><i>Website Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Brock Weekley</strong>
            <strong><i>Frontend and Firebase developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Nickolas Wergeles</strong>
            <strong><i>Assistant Professor of Professional Practice, Project Advisor</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="profile">
          <div class="info">
            <strong>Zhi Zhang</strong>
            <strong><i>Website Developer</i></strong>
            <div>University of Missouri - Columbia</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>