<mat-card class="base">
    <div class="page-title-bar">
      <p class="page-title">Data Download</p>
    </div>
    <!--<p style="margin: 2%;">downloads:</p>-->
    <div class="container">
        <div class="download-card">
            <h3 class="download-subtitle">Arabidopsis</h3>
            <a mat-button style="margin-left: 1%;" mat-raised-button color="primary" href="/static/arabidopsis.csv" target="_blank">
                Download
            </a>
        </div>
    
        <div class="download-card">
            <h3 class="download-subtitle">Camelina</h3>
            <a mat-button style="margin-left: 1%;" mat-raised-button color="primary" href="/static/camelina.csv" target="_blank">
                Download
            </a>
        </div>
    
        <div class="download-card">
            <h3 class="download-subtitle">Soybean</h3>
            <a mat-button style="margin-left: 1%;" mat-raised-button color="primary" href="/static/soybean.csv" target="_blank">
                Download
            </a>
        </div>
    </div>
  </mat-card>