

div{
  width:100%;
}

.imageArea{
  display: flex;
  justify-content: space-between;
  margin: auto;
}

img {
  width: 95%;
}

.selector{
    margin-top: 10px;
    width: 40%;
}

mat-card {
  box-sizing: border-box;
  text-align: left;
  padding: 1% !important;
  margin: 0% !important;
}
#imgCanvas {
  width:100%;
}
.imageArea{
  display: flex;
  justify-content: left;
}
.info-table {
  width: 100%;
  margin: 20px auto;
}
.name-card {
  margin: 10px auto;
  width: 97%;
}
.canvas-container {
  width:80%;
}

.loading-bar {
  width: 80%;
  text-align: left;
}