<div class="page-title-bar">
  <p class="page-title"> FatPlants AI</p>
</div>
<div style="width: 100%; height: 750px;">
  <as-split direction="horizontal" [gutterSize]="3">
    <as-split-area [size]="15">
        <div style="margin: 5%;">
        <div>
        <h6>Species</h6>
        <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedSpecies" #matSelect>
            <mat-option *ngFor="let species of specieses" [value]="species.id">
            {{ species.name }}
            </mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        <div>
        <h6>Pathway</h6>
        <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedPathwayDropdown" #matSelect>
            <mat-select-trigger>
            {{ selectedPathwayDropdown ? selectedPathwayDropdown.source + '_' + selectedPathwayDropdown.name  : 'Select Pathway' }}
            </mat-select-trigger>
                <mat-option class="custom-search-option">
                    <div class="search-input-wrapper">
                        <mat-icon class="search-icon">search</mat-icon> <input
                        #searchInput
                        matInput
                        placeholder="Search Pathway"
                        [(ngModel)]="searchPathwayTerm"
                        (input)="filterPathways()"
                        (keydown)="$event.stopPropagation()"
                        (click)="$event.stopPropagation()"
                        />
                    </div>
                </mat-option>
            <mat-option
                *ngFor="let pathway of filteredPathwayDropdowns"
                [value]="pathway"
                (onSelectionChange)="onOptionSelected($event, matSelect)"
                >
            {{ pathway.source }}_{{ pathway.name }}
            </mat-option>

            <mat-option *ngIf="filterPathways.length === 0 && searchPathwayTerm" disabled>
            No matching pathway found
            </mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        </div>
    </as-split-area>
    <as-split-area [size]="70" class="split-container">
        <mat-tab-group>
            <mat-tab label="Network Visualization" class="tab-container">
                <div>
                    <app-network-visualization *ngIf="selectedPathwayDropdown"
                        [pathwayId]="selectedPathwayDropdown.id.toString()"
                        (networkSummary)="onSummaryChange($event)"></app-network-visualization>
                </div>
            </mat-tab>
            <mat-tab label="Pathway" class="tab-container">
                <div></div>
            </mat-tab>
        </mat-tab-group>
        <div *ngIf="!isMinimized" class="chat-container">
            <div class="chat-header">
                <span class="chat-title">Chat with LLM</span>
                <div class="chat-actions">
                    <button (click)="clearChat()"class="delete-btn">
                    <mat-icon>delete</mat-icon>
                    </button>
                    <button class="dropdown-btn" (click)="setIsMinimized()">
                    <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </div>
                </div>

            <!-- Chat Messages -->
            <div #chatContaine #messagesList class="messages-list">
                <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.sender === 'user', 'llm-message': message.sender === 'llm'}">
                    <div class="message-text">{{ message.content }}</div>
                </div>
            </div>

            <!-- Disclaimer -->
            <div *ngIf="isDisclaimerVisible" class="disclaimer-container">
                <div class="disclaimer-header">
                    <mat-icon class="warning-icon">warning</mat-icon>
                    <span class="disclaimer-title">Disclaimer</span>
                    <button mat-icon-button class="close-button" (click)="closeDisclaimerDiv()">
                    <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="disclaimer-content">
                    <p>This AI assistant may occasionally generate incorrect or misleading information.
                    We are not responsible for any decisions made based on the generated content.
                    By using this service, you agree to our
                    <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="chat-input-container">
            <textarea [(ngModel)]="messageText"
                    placeholder="To chat with LLM, Type your message..."></textarea>
            <button
                    mat-icon-button
                    class="send-button"
                    (click)="handleSendMessage()"
                    [disabled]="!messageText.trim()">
                    <mat-icon>send</mat-icon>
            </button>
        </div>
    </as-split-area>
    <as-split-area [size]="15">
        <div>
           <div class="network-summary">
                <h4>Relationships</h4>
                <div class="legend-item">
                    <strong>c: </strong><span>CONTAIN</span>
                </div>
                <div class="legend-item">
                    <strong>i: </strong><span>INTERACT_WITH</span>
                </div>
                <div class="legend-item">
                    <strong>b: </strong><span>BELONG_TO</span>
                </div>
            </div>

            <div class="network-summary" *ngIf="summary">
                <h4>Network Summary</h4>
                <div><strong>Total Nodes:</strong> {{ summary.totalNodes }}</div>
                <div><strong>Total Edges:</strong> {{ summary.totalEdges }}</div>
                <div *ngFor="let grp of getKeys(summary.groupCounts)">
                    <strong>{{ grp }}:</strong> {{ summary.groupCounts[grp] }}
                </div>
            </div>
        </div>
    </as-split-area>
  </as-split>
</div>