.bg {
  background-color: #629b07;
}

.title {
  color: white;
}

.show {
  display: block !important;
}

.input-search-style {
  margin-left: 10px;
  //width: 700px;
  height: 50px;
}

.input-search-style-pop {
  width: 300px;
  height: 50px;
}
.input-drop-style {
  width: 130px;
  height: 50px;
}

.input-drop-style-pop {
  width: 300px;
  height: 50px;
}

.advanced-search {
  margin-left: -90px;
  width: 80px;
  height: 50px;
}

.search-style {
  margin-left: 10px;
  width: 80px;
  height: 50px;
  background-color: #efefef;
  color: black;
}

.custom-modal-dialog {
  max-width: 1200px;
  margin: 1.75rem auto;
}
