.hit-counter {
    float: right;
    padding: 3%;
    margin-top: 10px;
    margin-right:10px;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 85%;
    background-color:  #629B07;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }