
<div>
    <div class="header">
        Research Papers
    </div>
    <div style="margin: 2%;">
        <div class="box">
            <a href="https://link.springer.com/protocol/10.1007/978-1-0716-1362-7_13">
                Jenkins L M, Nam J W, Evans B S, et al. Quantification of
                Acyl-Acyl Carrier Proteins for Fatty Acid Synthesis Using
                LC-MS/MS. In: Plant Lipids. Humana, New York, NY, 2021: 219-247.
            </a>
        </div>
        <div class="box">
            <a
            href="https://www.sciencedirect.com/science/article/pii/S1570023220300246?casa_token=85SEr3IoLPoAAAAA:ZT56FKuvVW-lAUUZ0fUS4K_XPFQebdNSAWytmhKd0JnRRfAxxcnW1i1WSC60WSldaqDgiBcBZIV_">
            Kotapati H K, Bates P D. Normal phase HPLC method for combined
            separation of both polar and neutral lipid classes with
            application to lipid metabolic flux. Journal of Chromatography
            B, 2020, 1145: 122099.
          </a>
        </div>
        <div class="box">
            <a href="https://academic.oup.com/plcell/article/32/4/820/6115733?login=true">
                Nam JW, Jenkins LM, Li J, Evans BS, Jaworski JG, Allen DK (2020).
                A General Method for Quantification and Discovery of Acyl Groups
                Attached to Acyl Carrier Proteins in Fatty Acid Metabolism using
                LC-MS/MS. Plant Cell: 32(4):820-832.
            </a>
        </div>
    </div>
</div>