<div class="zoom-controls-container">
  <div class="sigma-control">
    <button mat-icon-button (click)="zoomIn()" title="Zoom In">
      <mat-icon>add</mat-icon> </button>
  </div>
  <div class="sigma-control">
    <button mat-icon-button (click)="zoomOut()" title="Zoom Out">
      <mat-icon>remove</mat-icon> </button>
  </div>
  <div class="sigma-control">
    <button mat-icon-button (click)="resetView()" title="Reset View">
      <mat-icon>center_focus_strong</mat-icon> </button>
  </div>
</div>