<div class="container">
    <div class="download-card">
        <h3 class="download-subtitle">Lipid Methods</h3>
        <a mat-button style="margin-left: 1%;" mat-raised-button color="primary" href="/static/tab_methods.pdf" target="_blank">
            Download
        </a>
    </div>

    <div class="download-card">
        <h3 class="download-subtitle">Lipid Composition</h3>
        <a mat-button style="margin-left: 1%;" mat-raised-button color="primary" href="/static/tab_tables.pdf" target="_blank">
            Download
        </a>
    </div>
</div>