
<div class="content-container">

  <div class="content">
    <h3 style="color: red;text-align: center;"><em>ARALIP</em>: The <span class="highlight">Arabidopsis Acyl-Lipid</span> Metabolism Website</h3>
    <br>
    <h6>This version of the <em>ARALIP</em> website, and many figures were updated summer 2012 by the <a href="/aralip-menu/contributors">contributors</a>. Additional minor updates were added fall 2012. A number of other enhancements to the website were added by Basil Shorrosh. A database of <a href="/aralip-menu/mutant">mutants</a> of Arabidopsis acyl-lipid metabolism was integrated with ARALIP in late 2014.</h6>
    <br>
    <h4 style="color: #008000;">History:</h4>
    <p>This website was developed together with a chapter on Acyl Lipid Metabolism for <a href="http://www.bioone.org/doi/full/10.1199/tab.0133">The Arabidopsis Book</a>.</p>
    <p>The <em>ARALIP</em> website has evolved from a website developed by Fred Beisson in 2003 and described by <a href="https://doi.org/10.1104/pp.103.022988">Beisson et al. (2003)</a>.</p>
    <p><em>Basil Shorrosh</em> created the ARALIP website, the pathway figures, and the underlying relational database.</p>
    <br>
    <h4 style="color: #008000;">Goals:</h4>
    <ul>
      <li>To improve the quality of the annotation of Arabidopsis genes related to acyl lipid metabolism.</li>
      <li>To provide the plant lipid community with a common platform of information, where new data can be collected and organized.</li>
      <li>To define gaps in the knowledge of plant lipid metabolism and highlight where additional work is needed.</li>
      <li>To provide a summary of Protocols and Methods used for analysis of Arabidopsis lipids.</li>
      <li>To provide a detailed summary of the composition of Arabidopsis lipids.</li>
    </ul>
<br>
    <h4 style="color: #008000;">Features:</h4>
    <ul>
      <li>This database has been developed by a worldwide community effort involving 27 authors and is accompanied by a summary for each pathway in the chapter ‘Acyl Lipid Metabolism’ in The Arabidopsis Book.</li>
      <li>This database is organized by pathways represented by key navigation figures in the <a href="/aralip-menu/pathways">pathways</a> homepage.</li>
      <li>Each pathway includes hyperlinks to further information on reactions and proteins...</li>
      <li><strong>UPDATES:</strong> <em>ARALIP</em> is designed to be updated based on community input, and we encourage all plant lipid researchers...</li>
    </ul>
<br>
    <h4 style="color: #008000;">Contributors:</h4>
    <ul>
      <li>The names and contact information of each contributor are provided with the sections they wrote for The Arabidopsis Book chapter so that others can contact the appropriate expert with corrections, updates, or questions.</li>
      <li>All contributing authors are also listed in the <a href="/aralip-menu/contributors">contributors</a> page.</li>
    </ul>
<br>
    <h4 style="color: #008000;">How to cite:</h4>
    <p>If you find this site useful to your research and use the data for your publications, please cite:</p>
    <p class="citation">
      Li-Beisson Y, Shorrosh B, Beisson F, Andersson M, Arondel V, Bates P, Baud S, Bird D, DeBono A, Durrett T, Franke R, Graham I, Katayama K, Kelly A, Larson T, Markham J, Miquel M, Molina I, Nishida I, Rowland O, Samuels L, Schmid K, Wada H, Welti R, Xu C, Zallot R and Ohlrogge J. (2013) <a href="http://www.bioone.org/doi/full/10.1199/tab.0133">Acyl-Lipid Metabolism in The Arabidopsis Book</a>, Rockville, MD: American Society of Plant Biologists.
    </p>
  </div>
  <p style="color: rgb(155, 155, 155);">All pathway figures are copyright protected 2012-present and shouldn't be used in any form without Basil Shorrosh's consent.
  </p>
</div>
