.page-title-bar {
  background-color: #629B07;
  color: rgb(255, 255, 255);
  padding: 0.1rem;
}

/*page's title - font style*/
.page-title {
  font-size: 1.8vw;
  font-weight: 500;
  padding-left: 2%;
  margin-block-end: 0.2rem;
  margin-block-start: 0.2rem;
}

#component-container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    width: 80%;
    height: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(124, 179, 66, 0.65);
}

.card pre{
    font-family: "Lato",sans-serif ;
}
